body { 
    color: #666666;
    margin: 0;
    font-family: 'Raleway', arial, helvetica, sans-serif;
}
    
header { 
    background-color: #FFFA6F;
    color: #B3B070;
    text-align: center;
    padding-top: 15px;
}

/* type */

a {
    text-decoration: none;
    color: #77F349;
}

a:hover {
    color: #4eb526;
}

dt {
    color: #122E07;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    color: #81DB5F;
}

h3 {
    color: #122E07;
}

.inline-list {
    list-style-type: none;
    display: inline-flex;
}

.list-unstyled {
    list-style-type: none;
}

.list-unstyled li {
    margin: 10px 0;
}

footer {
    font-style: italic;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
}

#contact {
    font-size: 90%;
}

/*#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #81DB5F;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}*/

.nav-list {
    
}

.nav-list li {
    display: inline-block;
}

main {
    background-color: #FFFFFF;
    padding: 50px;
}

#autumn {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(fair.jpg);
}

#yurthero {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(about.jpg);
}

#trailhero {
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(about.jpg);
}

.about {
    color: #6F9960;
    font-size: 1.2em;
    list-style-type: none;
}

#aboutimage {
    background-image: url(palm.jpg);
    height: 300px;
    background-size: 40% 70%;
    background-repeat: no-repeat;
}

#jar {
    background-image: url(jar.jpg);
    height: 300px;
    background-size: 40% 70%;
    background-repeat: no-repeat;
}

/* basic elements */

.content-header {
    text-align: center;
    margin: 0 0 60px 0;
}

nav {
    float: none;
    width: auto;
    text-align: center;
    font-weight: bold;
    padding: .5em;
}

nav ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

nav a {
    color: #5292E4;
}

nav a:hover {
    color: #4D5F75;
}

ul {
    padding: 0;
}

/* page specific */

.resort {
    color: #6F9960;
    font-weight: bold;
}

/* images */

.image {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 5px;
    display: block;
}

.image-column {
    width: 50%;
    float: left;
    text-align: center;
}

.image-column img {
    padding: 0 15px;
}

.image-column-container {
    overflow: auto;
    text-align: center;
}

/* lists */

.list--inline li {
    margin: 0 5px;
}

.timeline {
    font-weight: bold;
    text-decoration: underline;
}

header, main, nav, footer,section, article, figure, figcaption, aside {display: block;}


#mobile {
    display: none;
}

#desktop {
    display: inline;
}

table {
    border-color: #3399CC;
    border-style: solid;
    width: 80%;
    border-spacing: 0;
    border-width: 1px;
}

td {
    padding: 5px;
    border-color: #3399CC;
    border-style: solid;
    text-align: center;
}

th {
    padding: 5px;
    border-color: #3399CC;
    border-style: solid;
}

.text {
    text-align: left;
}

tr:nth-of-type(odd) {
    background-color: #F5FAFC;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}

input, textarea {
    display: block;
    margin-bottom: 20px;
}

input[type="submit"]{
    margin-left: 130px;
}

.msfoundation {
    width: 25%;
    padding: 0 30px;
    text-align: center;
}

    
@media only screen and (max-width: 64em) {
    body {
        background-color: #FFFFFF;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: .5em;
    }
    nav li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    #homehero {
        margin-left: 0;
        height: 200px;
    }
    #yurthero {
        margin-left: 0;
        height: 200px;
    }
    #trailhero {
        margin-left: 0;
        height: 200px;
    }
    footer {
        margin-left: 0;
    }
}

@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }
    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        font-size: 90%;
    }
    h1 {
        font-size: 1.5em;
    }
    nav {
        padding: 0;
    }
    nav li {
        display: block;
        margin: 0;
        border-bottom: #330000;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
    nav a {
        display: block;
    }
    #homehero,#yurthero,#trailhero{
        background-image: none;
        height: 0;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }

    label {
        float:none;
        text-align: left;
    } 

    input [type="submit"] {
        margin-left: 0;
    }
}
